// WHITE
$white: #EBEBEB;
// GREYS
$lighter-grey: #898889;
$light-grey: #3D3E47;
$dark-grey: #303139;
// GREENS
$green: #4EBA66;
$light-green: #C3ECCC;
// YELLOWS
$light-yellow: #ECE6C4;
// RED
$red: #EE1A1A;
$light-red: #ECC4C4;
// PURPLE
$light-purple: #CBC1EC;
// BLUE
$blue: #1A71EE;

@import '_main';
